.MovieCard {
    display: flex;
    border: solid;
    border-color: black;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    min-height: 35vh;
}

.cardText {
    color: white;
    background-color: #00000070;
    width: 60%;
    margin: 0 auto;
    border: solid;
    border-color: white;
    border-width: 3px;
}