.MovieCard {
    display: flex;
    border: solid;
    border-color: black;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15vh;
    flex-direction: column;
    justify-content: center;
}

.cardText {
    color: white;
    background-color: #00000070;
    width: 50%;
    margin: 0 auto;
}